@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply text-4xl font-bold leading-loose;
  }

  h2 {
    @apply text-2xl font-bold leading-loose;
  }

  h3 {
    @apply text-xl font-semibold leading-loose;
  }
  strong {
    @apply font-bold;
  }
}
html {
  font-family: 'Montserrat Alternates', sans-serif !important;
  scroll-behavior: smooth !important;
  width: 100%;
}
@layer utilities {
  .clip-path-circle {
    clip-path: circle(0px at 0% 0%);
  }
  .clip-path-circle-active {
    clip-path: circle(150% at 0% 0%);
  }
}
